.tennisBackground {
  background: #fff;
  background-image: url("../images/tennis.png");
  height: 650px;
  background-size: cover;
  overflow: hidden;
}
.tennisHeading {
  padding: 0;
  margin: 10px 0px;
  color: #fff;
  text-align: center;
  font-size: 34px;
}
.tennisBackground h1 {
  text-align: center;
  color: #ffe72e;
}
