.tennisBackground {
  background: #fff;
  background-image: url("../images/tennis.png");
  height: 650px;
  background-size: cover;
  overflow: hidden;
}
.tennisHeading {
  padding: 0;
  margin: 10px 0px;
  color: #fff;
  text-align: center;
  font-size: 34px;
}
.tennisBackground h1 {
  text-align: center;
  color: #ffe72e;
}
.scoreBoard {
  background: #444;
  width: 300px;
  margin: 20px auto;
  padding: 0px 10px 10px 10px;
  box-shadow: 0 4px 0px #333;
  border-radius: 15px;
}
.scoreBoard h3 {
  text-transform: uppercase;
  padding: 5px;
  color: #fff;
}
.scoreStyles {
  background: #66bb6a;
  padding: 6px;
}
.playerStyles {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: solid 2px #444;
}